<!DOCTYPE html>
<html>

<head>
  <title>Chemistry</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="title">
      もるぱらだいす</div>
    <div class="header_contents">
      <%= link_to "ホーム", root_path,class: "header_content" %>
      <%= link_to "ストック一覧", questions_path,class: "header_content" %>
      <%= link_to "問題を作る", questions_path,class: "header_content" %>
    </div>
  </header>
  <%= yield %>
</body>

</html>