<!DOCTYPE html>
<html>

<head>
  <title>Chemistry</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="title">
      もるぱらだいす</div>
    <div class="header_contents">
      <div class="header_content">ホーム</div>
      <div class="header_content">ストック一覧</div>
      <div class="header_content">問題を作る</div>
    </div>
  </header>
  <%= yield %>
</body>

</html>